* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*TO DO:::::get soft blue color to extend all the way to left only!!!!!!*/
.header {
    width: 100%;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #404040;
    color: #b3daff;
}

.blue-box {
    background-color: #b3daff;
    color: #404040;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #b3daff;
    text-decoration: underline;
}

/*start of hero styles*/
.hero {
    height: 320px;
    width: 100%;
    margin-bottom: 100px;
    background-image: url("../images/character-icon.jpg"), url("../images/istockphoto-1127136711-612x612.jpg");
    background-repeat: no-repeat, repeat;
    background-size: relative, center;
    background-position: 10px 20px, center;
}
/*TO DO::::::move the hero-box down a lot*/
.hero-box {
    margin-top: 125px;
    margin-right: 100px;
    margin-bottom: 50px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b3daff;
    background-position: bottom right;
    color: #404040;
    font-size: 40px;
}

.float-right{
    float: right;
    margin-left: 25px;
}


/*BELOW content section styling?*/

.content {
    width: 100%;
    display: inline-block;
}

.section-title {
    font-size: 40px;
}

.info {
    color: #19334d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rectangle {
    height: 200px;
    width: 10px;
    background-color: #555;
    position: relative;
}





/*add footer style*/