* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

/*Header styles start*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #383838;
    color: #;
}


.hero

.content

.about

.work

.contact /*needs to be in a line: number, email, etc (all underlined in dark blue/navy)*/

.resume /*linkedin link?*/